*
!.gitignore
!/README.md
!/CLAUDE.md
!/settings.json
!/statusline-command.sh
!/commands/
!/commands/**
!/context/
!/context/**
!/hooks/
!/hooks/**
!/skills/
!/skills/**
!/agents/
!/agents/**
!/templates/
!/templates/**
!/output-styles/
!/output-styles/**
